@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    font-size: 10px;
    --font-inter: 'Inter', sans-serif;
    --background: #1A8DFF;
    --header: #0E1342;
    --warning: #E8F3FF;
    --logo: #177FE5;
};